name: Hero Force CI/CD

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  backend:
    name: Backend CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: backend/package-lock.json

    - name: Install Dependencies
      working-directory: ./backend
      run: npm ci

    - name: Run Unit Tests
      working-directory: ./backend
      run: npm run test

    - name: Build Application
      working-directory: ./backend
      run: npm run build

    - name: Docker Build Check
      working-directory: ./backend
      run: docker build . --file Dockerfile --tag hero-force-backend:test

  frontend:
    name: Frontend CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: frontend/package-lock.json

    - name: Install Dependencies
      working-directory: ./frontend
      run: npm ci

    - name: Build Application
      working-directory: ./frontend
      run: npm run build

    - name: Docker Build Check
      working-directory: ./frontend
      run: docker build . --file Dockerfile --tag hero-force-frontend:test
